.Achievements{
    font-family: 'Maison Neue', sans-serif;
    cursor: url('../../../public/assets/badge.svg'), auto;
    overflow: hidden;
    height: 100vh;
    background-color: rgb(247, 247, 250);

}

.body_content_achievements {
    padding-top:100px;

}

.hackathon_container {
    /* padding: 5%; */
    width: 40vw;
    margin: 5%;
    /* margin-bottom: 0%; */
    margin-top: 5vh;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255,0.85);
    border-radius: 3px;
    margin-bottom: 70%;

}


.hackathon_container{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.9px);
    -webkit-backdrop-filter: blur(7.9px);
    
    }

.competition_container {
    margin:10px;
    /* border: solid 1px #fff; */
    /* background-color: rgb(255, 255, 255,0.4); */
    padding: 1%;
    border-radius: 1%;
    text-align: center;
    transition:all 0.2s;
    /* margin-bottom:0px; */
}

.competition_name {
    margin:15px;
    /* margin-top:5%; */
    font-size: 20px;
    font-weight: bold;
}

.trophy_icon {
    margin-top: 10px;
    margin-left: 10px;
    /* display: inline-block; */
}

.info_container{
    margin: 5%;
    margin-top: 5vh;
    margin-left: 0%;
    height: 100%;
    width: 70vw;
    /* border: solid 1px #fff; */
    /* background-color: rgb(255, 255, 255,0.55); */
    border-radius: 3px;
    padding: 1%;
    /* transition: all 0.2s ease-in-out; */
    transition:all 0.5s;
}

.info_container{
/* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.9px);
-webkit-backdrop-filter: blur(7.9px);

}
.last_competition{
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.achievements_highlight_block_information {
    /* border: 4px solid #fc5200; */
    /* background-color: rgb(255,234,0,1); */
    /* background-color:  #fc5200; */
    /* color: #fc5200; */
        color: #f7b500;

    font-size: 45px;
    font-weight: bold;
    transition: all 0.3s;
}

.highlight_block_information_sub {
    /* border: 4px solid #fc5200; */
    /* background-color: rgb(255,234,0,1); */
    /* background-color:  #fff; */
    color: #000;
    font-size: 20px;
    transition: all 0.3s;
    padding: 1px;
}

.youtube_video{
    border: 0;
    border-radius: 2%;
}

.competition_container:hover {
    background-color: rgb(255, 255, 255,1);
}

.competition_container_1 {
    background-color: rgb(255, 255, 255,1);
}

.competition_container_2 {
    background-color: rgb(255, 255, 255,1);
}

.competition_container_3 {
    background-color: rgb(255, 255, 255,1);
}

.competition_container_4 {
    background-color: rgb(255, 255, 255,1);
}

.competition_container_5 {
    background-color: rgb(255, 255, 255,1);
}

.competition_container_6 {
    background-color: rgb(255, 255, 255,1);
}

.competition_container_7 {
    background-color: rgb(255, 255, 255,1);
}


.achievement_visible_1 {
    visibility: visible;
}

.achievement_visible_2 {
    visibility: visible;
}

.achievement_visible_3 {
    visibility: visible;
}

.achievement_visible_4 {
    visibility: visible;
}

.achievement_visible_5 {
    visibility: visible;
}

.achievement_visible_6 {
    visibility: visible;
}

.achievement_visible_7 {
    visibility: visible;
}


.achievement_not_visible {
    visibility: hidden;
    display: none;
}

.highlight_block_information_sub {
    /* background-color: #FFF; */
}

.github_button {
    background-color: #fc5200;
    border-color: #fc5200;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: small;
    padding: 5px;
    padding-left:20px;
    padding-right:20px;
    margin-right: 10px;
}

.github_button_without_video {
    /* margin-top: 1px; */
}

