.Home{
    font-family: 'Maison Neue', 'Helvetica', Arial, sans-serif;
    cursor: url('../../../public/assets/badge.svg'), auto;	
    background-color: rgb(247, 247, 250);
    height: 100vh;
    overflow:scroll;
    background-image: url('../../../public/assets/heatmaporiginal.png');
    background-repeat: repeat;	
    /* background-size: 2000px 1261.2px; */
    background-size: 100vw auto;


}

.HomeLoader{
    font-family: 'Maison Neue', 'Helvetica', Arial, sans-serif;
    cursor: url('../../../public/assets/badge.svg'), auto;	
    background-color: rgb(255, 255, 255);
    height: 100vh;
    overflow:visible;
    /* background-image: url('../../../public/assets/heatmaporiginal.png'); */
    /* background-repeat: repeat;	 */
    /* background-size: 2000px 1261.2px; */

}


.bodycontent{
margin-top: 50px;
}


.loadingGifDiv{
    padding-top: 45vh;
    padding-left: 50vw;
}
.loadingGif {
    width: 40px;
}

.header_2
{
    /* height: 80vh; */
    padding: 10%;
    padding-top: 5%;
    font-size: 2.8vw;
}

.header_content_all{
    transition: all 0.3s ease-in-out;
}

.highlight_block {
    transition: all 0.3s ease-in-out;
}



.header_content_all:hover .highlight_block{
    /* font-size: 102px; */
    background-color: #ffea00;
    color: #000;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all 0.2s ease-in-out;
}

.header_content_all:hover{
    /* font-size: 102px; */
    background-color: #ffea00;
    color: #000;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all 0.2s ease-in-out;
}


.highlight_block {
    /* border: 4px solid #fc5200; */
    background-color: #ffea00;
    color: #000;
    padding: 5px;
}



.email_href{
    color: #fc5200;   
}

/* visited link */
a:visited {
    color: #fc5200;
  }
  
/* mouse over link */
a:hover {
color: #fc5200;
cursor: url('../../../public/assets/badge.svg'), auto;	
}

/* selected link */
a:active {
color: #fc5200;
}



.body_content_1{
    background-color: #fc5200;
}




@media screen and (max-width: 850px) {
    .signal_image {
       display: none;
    }
}

@media screen and (min-width: 600px) {
    .bodycontent {
        height: 100vh;
    }
}

@media screen and (max-width: 600px) {

    .bodycontent {
        height: 100vh;
    }
    .header_2
    {
        margin-top: 50px;
        padding-top: 50px;
        font-size: 7vw;
    }

    .loadingGifDiv{
        padding-top: 40vh;
        padding-left:45vw;
    }
}


