

.navigation-bar {
    
    overflow: hidden; 
    /* background-color: #333; */
    position: fixed; 
    /* Set the navbar to fixed position */
    top: 90%; 
    /* top: 0; 
    Position the navbar at the top of the page */
    width: 100%; 

}

.body_content_1{
    /* padding-top: 1%; */
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1vw;
     border: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-right: 0px;
    background-color: #FFF;
    /* color: #fc5200; */
    /* color: white; */
    /* height: 20vh; */

    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
    transition: all .3s ease-in-out;
    /* width: max-content; */

}

.body_content_2{
    /* padding-top: 1%; */
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1vw;
     border: none;
    border-right: 0px;
    background-color: #FFF;
    /* color: #f8afe6; */
    /* height: 20vh; */

    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
    transition: all .3s ease-in-out;
}

.body_content_3{
    /* padding-top: 1%; */
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1vw;
     border: none;
    border-right: 0px;
    background-color: #FFF;
    /* color: #55cbcd; */
    /* height: 20vh; */

    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
    transition: all .3s ease-in-out;
}

.body_content_4{
    /* padding-top: 1%; */
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1vw;
     border: none;
    border-right: 0px;
    background-color: #FFF;
    /* color: #062843; */
    /* height: 20vh; */

    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
    transition: all .3s ease-in-out;
}

.body_content_5{
    /* padding-top: 1%; */
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1vw;
     border: none;
    color: #000;
    border-right: 0px;

    /* border-bottom-right-radius: 7%;
    border-top-right-radius: 7%; */
    background-color: #FFF;
    /* color: #97c1a9; */
    /* height: 20vh; */

    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
    transition: all .5s ease-in-out;
}

.body_content_6{
    /* padding-top: 1%; */
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1vw;
     border: none;
    color: #000;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #FFF;
    /* color: #97c1a9; */
    /* height: 20vh; */

    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
    transition: all .5s ease-in-out;
}

.body_content_all:hover {
    /* font-size: 102px; */
    color:  #fc5200;
    /* color: #FFF; */
    transition: all 0.1s ease-in;
    /* transform: translate3d(0px, -1px, 0px); */
    /* background-color: #fc5200; */
    /* color: white; */
    

}

.orange {
    color: #fc5200;
    border-bottom: solid #fc5200 3px;
    /* color: #FFF; */
}

