.Skills{
    font-family: 'Maison Neue', sans-serif;
    cursor: url('../../../public/assets/badge.svg'), auto;
    overflow: hidden;
    height: 100vh;
    overflow:visible;
    background-image: url('../../../public/assets/ghepan2.png');
    background-repeat: repeat;	
    background-size: 1800px 1061.2px;
    background-size: 100vw auto;
}
   
.bodycontent_skills
{
    overflow-y: hidden;
    z-index: -10;
}

.technical {
    width: 60vw;
    height: 100vh;
    opacity: 100%;
    /* background-color: #fff; */
    background-color: rgb(255,255,255);
    padding-top: 15vh;
    padding-left: 5%;
    /* border-top: solid 2px #fc5200; */

} 

.highlight_block_technical {
    /* border: 4px solid #fc5200; */
    /* background-color: rgb(38,107,246);ß */
    background-color: #000;
    color: #fff;
    font-size: 1.4vw;
    /* padding: 1%; */
    border: solid 5px #000; 
    transition: all 0.2s ease-in-out;
}
.highlight_block_technical_content {
    /* border: 4px solid #fc5200; */
    /* background-color: rgb(38,107,246);ß */
    background-color: rgb(255,255,255);
    color: #000;
    font-size: 1.8vw;    
    padding: 1%;
    transition: all 0.2s ease-in-out;
    width: 50vw;


        /* background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.9px);
    -webkit-backdrop-filter: blur(7.9px); */

}

.highlight_block_technical_content_sub {
    /* border: 4px solid #fc5200; */
    /* background-color: rgb(38,107,246);ß */
    border-bottom: solid 2px #000; 

}



.nontechnical {
    /* margin-top: 2%; */
    margin-right: 2%;
    width: 40vw;
    height:45vw;
    background-color: #fff;
    border-radius: 1%;
    opacity: 100%;

}

.nonresponsive-div {
    display: block;
}


/* .highlight_block_skills:hover{
    border-left: solid 10px rgb(38,107,246);
    color: #000;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all 0.1s ease-in-out;
} */


.breakdiv {
    height: 2vh;
}

@media screen and (max-width: 700px) {


    .technical {
        width: 100vw;
        /* height: 100vh; */
        opacity: 100%;
        /* background-color: #fff; */
        background-color: rgb(202, 202, 202);
        padding-top: 15vh;
        padding-left: 25vw;
        
    
    } 
    .highlight_block_technical {
        border: solid 3px #fc5200;

        font-size: 4vw;
        /* margin-left: 35vw; */
        padding: 3px;
        padding-right: 20vw;
        

    }
    .highlight_block_technical_content {
        font-size: 3.5vw;   
        /* margin-left: 22.5vw;  */
        background-color: rgb(202, 202, 202);

    }
}