.Discussion{
    font-family: 'Maison Neue', sans-serif;
    cursor: url('../../../public/assets/badge.svg'), auto;	
    /* height: 150vh; */
    overflow:visible;
    background-image: url('../../../public/assets/kudos_background.png');
    padding-bottom: 20vh;
}

.Discussion_control {
    background-image: none;
}
.discussion_1 
{
    overflow: hidden;
    background-color: #000;
    height: 100vh;
}

.give-kudos {
    width: 30vw;
    height: 30vh;
    background-color:rgb(255, 255, 255,1);
    margin-top: 25vh;
    border-radius: 3px;
}

.kudos-parent :hover{ 
    background-color:#ffea00;
}


.kudos-logo {
    margin-top: 8vh;
    width: 100px;
    height: 100px;
}


.kudos-counter {
    margin-top: 8vh;
    margin-left: 3vw;
    font-size: 5vw;
}

.write-comment {
    width: 23vw;
    height: 10vh;
    background-color:rgb(255, 255, 255,1);
    margin-top: 5vh;
    border-radius: 3px;
    background-color: rgb(247, 247, 250);

}

.post-comment {
    margin-left: 2vw;
    width: 5vw;
    height: 5vh;
    background-color:rgb(255, 255, 255,1);
    margin-top: 7vh;
    border-radius: 3px;
}


.write-comment-input-box {
    /* height: 5vh; */
    width: 22.5vw;
    border: none;
    background-color: rgb(247, 247, 250);
    outline-width: 0;
    padding-left:20px;
    padding-right:20px;
}

.write-comment-post-button {
    padding-left:20px;
    padding-right:20px;
    /* padding-top: 10px; */
    font-size: 1.2vw;
    color: #fc520f;
}

.post-comment :hover {
    
}

.postButton {
    border: none;
    background-color: none;
    box-shadow: none;
    padding: 0px;
    margin: 0px;
}

.thanks-comment {
    margin-top: 1vh;
    font-size: 2vw;
        color: white;
    /* background-color: #fff; */
    display: block;
}

.thanks-comment-invisible {
    display: none;
    visibility: hidden;
    margin-top: 1vh;

    color: white;
    /* background-color: #fff; */

}

.thanks-highlight {
    /* background-color: #fc520f; */
}

.div-part-1 {
    margin-top: 15vh;
}
.div-part-3 {
    margin-top: 15vh;
}
.comments-1 {
    width: 25vw;
    height: auto;
    font-size: 1.1vw;
    background-color:rgb(255, 255, 255,0.8);
    border-radius: 3px;
    padding: 10px;
    margin: 5px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    box-shadow: 0 4px 30px rgba(170, 170, 170, 0.1);
    backdrop-filter: blur(7.9px);
    -webkit-backdrop-filter: blur(7.9px);
    color: #000;
}
@media screen and (max-width: 600px) {
    .Discussion {
        height: 100vh;
        overflow:visible;
        background-image: url('../../../public/assets/kudos_background_mobile.png');
    }
    .div-part-1 {
display: none;    }
    .div-part-3 {
        display: none; 
    }


    .give-kudos {
        width: 30vw;
        height: 20vh;
        background-color:rgb(255, 255, 255,1);
        margin-top: 25vh;
        border-radius: 3px;
    }

    .kudos-parent :hover{ 
        background-color:#ffea00;
    }


    .kudos-logo {
        margin-top: 7vh;
        width: 50px;
        height: 50px;
    }


    .kudos-counter {
        margin-top: 9vh;
        margin-left: 3vw;
        font-size: 5vw;
    }


    .write-comment {
        width: 60vw;
        height: 10vh;
    }

    .post-comment {
        margin-left: 2vw;
        width: 5vw;
        height: 5vh;
        background-color:rgb(255, 255, 255,1);
        margin-top: 7vh;
        border-radius: 3px;
        background-color: #fff;
    }


    .write-comment-input-box {
        /* height: 5vh; */
        width: 100vw;
        border: none;
        background-color: rgb(247, 247, 250);
        outline-width: 0;
        padding-left:20px;
        padding-right:20px;
        
    }

    .write-comment-post-button {
        padding-left:20px;
        padding-right:20px;
        /* padding-top: 10px; */
        font-size: 1.2vw;
        color: #fc520f;
        /* background-color: #fff; */

    }
 }