.Mystrava{
    font-family: 'Maison Neue', 'Helvetica', Arial, sans-serif;
    cursor: url('../../../public/assets/badge.svg'), auto;
    /* overflow-x: scroll; */
    /* height: 100vh; */
    background-color: rgb(247, 247, 250);
    overflow:scroll;
    overflow-y: scroll;
}

.bodycontent_mystrava {
    padding-top:8%;

}

.loader-invisible {
    display: none; 
}
.data-invisible {
    display: none;
    visibility: hidden;
}

.title-total-activities {
    font-size: 1.2vw;
    color: #909090;
    /* font-weight: bold; */
}
.information-div{
    width: 20vw;
    height: 250px;
    background-color: #ffff;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
}

/* .first-col{
    height: 600px;
}


.center-col{
    height: 600px;
} */

.powered-by-api {
    font-size: 1vw;
    color: rgb(202, 202, 202);
}
.information-div-center-row{
    /* width: 330px; */
    height: 300px;
    background-color: #ffff;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
}

.information-div-center-row-responsive{
    /* width: 330px; */
    /* height: 300px; */
    background-color: #ffff;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
}

.information-div-center-row-kudos{
    /* width: 330px; */
    height: 200px;
    background-color: #ffff;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    padding-top: 10px;
}



.summary-plot-div {
    height: 100%;
}
.information-div-weekly-summary{
    width: 340px;
    height: 360px;
    background-color: #ffff;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    padding-top: 20px;
}

.information-div-profile{
    width: 400px;
    height: 140px;
    background-color: #ffff;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    padding-top: 20px;
}




.information-div-child{
    /* width: 600px;
    height: 300px; */
    color: rgb(0, 0, 0); 
    border-radius: 10px;
    /* margin: 20px;
    padding: 20px; */
    font-size: 8vw;
}

.information-div-child-lots{
    max-width: 400px;
    /* max-height: 500px;  */
    color: rgb(0, 0, 0); 
    border-radius: 10px;
    /* margin: 20px;
    padding: 20px; */
    padding-top: 20px;
    font-size: auto;
}

.information-div-child-kudos{
    /* width: 600px;
    height: 300px; */
    color: rgb(0, 0, 0); 
    border-radius: 10px;
    /* margin: 20px;
    padding: 20px; */
    font-size: 6.8vw;
}

.activity_icon {
    /* padding-left: 5px;*/
    padding: 7px;
    width: 35px;
    color: solid 1px rgb(202, 202, 202);

}

.activity_icon_inbutton {
    /* padding-left: 5px;
    font-size: 20px; */
    padding: 7px;
    width: 25px;
    color: solid 1px rgb(202, 202, 202);

}



.activity-summary-button-suite {
    padding-top:10px;

}

.activity-summary-button {
    background-color: #ffffff;
    border: solid 1px rgb(202, 202, 202);
    border-radius: 5px;
    margin-top:8px;
    padding-left:8px;
    padding-right:8px;
    margin-right: 5px;
    font-size: 10px;
}

.orange_activity {
    /* background-color: #ffffff; */
    border: solid 1px #fc5200;
    /* border-radius: 5px;
    margin-top:8px;
    padding-left:8px;
    padding-right:8px;
    margin-right: 5px;
    font-size: 10px; */
}

.information-div-image-parent{
    position: relative;
    top: 0;
    left: 0;
    padding-left: 20px;
}
.information-div-profile {

    width: 340px;
}
.information-div-profile-athlete-image-badge {
    position: absolute;
    top: 0px;
    left: 95px;

}
.information-div-profile-athlete-image {
    position: relative;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 100px;
}

.information-div-profile-text-container {
    padding-left: 20px;
    padding-top: 20px;
}

.information-div-profile-text-location {
    font-size: 13px;
}
.information-div-profile-text-bio {
    font-size: 12px;
}

.information-div-kudos-count {
    padding-left: 20px;
}

.iphone-divs{
    margin-top: 100px;
    /* font-size: 30px; */
}


.proud-title {
    position: relative;
    top: 0;
    left: 0;
    font-size: 30px;
    padding-bottom: 40px;
    /* padding-right: 100px; */
    /* padding-left: 150px;
    padding-right: 100px; */
}

.dnf-title {
    position: relative;
    top: 0;
    left: 0;
    font-size: 30px;

    margin-left:20px;
    padding-bottom: 40px;

    /* padding-right: 200px; */

}

.segments-title {
    position: relative;
    top: 0;
    left: 0;
    font-size: 30px;

    margin-left: 0px;
    padding-bottom: 40px;

    /* padding-right: 200px; */

}

.iphone-info-div{
    position: relative;
    top: 0;
    left: 0;
    padding-top: 50px;
}

.iphone-1-video {
    position: absolute;
    top: 200px;
    left: 22px;
    width: 255px;
    height: auto;
}


.iphone-1{
    position: relative;
    top: 0;
    left: 0;
    margin-right: 110px;
}

.iphone-info-div-2{
    position: relative;
    top: 0;
    left: 0;
    padding-top: 50px;
}

.iphone-2-video {
    position: absolute;
    top: 200px;
    left: 22px;
    width: 255px;
    height: auto;
}


.iphone-2{
    position: relative;
    top: 0;
    left: 0;
    margin-right: 110px;
}

.iphone-info-div-3{
    position: relative;
    top: 0;
    left: 0;
    padding-top: 50px;
}

.iphone-3-video {
    position: absolute;
    top: 200px;
    left: 22px;
    width: 255px;
    height: auto;
}


.iphone-3{
    position: relative;
    top: 0;
    left: 0;
    /* margin-right: 150px; */
}

.bodycontent_mystrava {
    display: block;
    visibility: visible;
}

.bodycontent_mystrava-responsive-parent {
    display: none;
    visibility: hidden;
}

.bodycontent_mystrava-responsive {
    display: none;
    visibility: hidden;
}

.circle-1-parent {
    position: relative;
    top: 0;
    left: 0;

}
.circle-2-parent {
    position: relative;
    top: 0;
    left: 0;

}
.circle-3-parent {
    position: relative;
    top: 0;
    left: 0;
}


.circle-1 {
    margin-left: 5vw;
    margin-top: 5vw;
    width: 27vw;
    height: 27vw;
    line-height: 27vw;
    border-radius: 50%;
    font-size: 4vw;
    color: #fff;
    text-align: center;
    background: rgb(245, 200, 94);
    position: relative;
    top: 0;
    left: 0;
}

.circle-2 {
    margin-top: 5vw;
    width: 27vw;
    height: 27vw;
    line-height: 27vw;
    border-radius: 50%;
    font-size: 4vw;
    color: #fff;
    text-align: center;
    background: rgb(143, 216, 227);
    position: relative;
    top: 0;
    left: 0;
}

.circle-3 {
    margin-top: 5vw;
    width: 27vw;
    height: 27vw;
    line-height: 27vw;
    border-radius: 50%;
    font-size: 4vw;
    color: #fff;
    text-align: center;
    background: rgb(170, 160, 248);
    position: relative;
    top: 0;
    left: 0;
}

.circle-titles {
    padding-top: 10px;
    padding-left: 10px;
    /* padding-top: 5px;
    padding-left: -10px; */
}

.circle-1-title {
    padding-top: 3vw;
    position: absolute;
    left: 70px;
    top: 1120;
}
.circle-2-title {
    padding-top: 3vw;
    position: absolute;
    left: 205px;
    top: 1120;

}
.circle-3-title {
    /* padding-left: 10vw; */
    padding-top: 3vw;
    position: absolute;
    left: 325px;
    top: 1120;

}

.strava_wall_div {
    margin-top: 30vh;
    /* position: relative;
    top: 0;
    left: 0; */
    background-image: url('../../../public/assets/strava_wall_transparent.png');
    background-size: 100vw auto;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-color: rgb(247, 247, 250);

}

.strava_wall_image{
    width: 100vw;
    /* position: relative;
    top: 0;
    left: 0; */
    margin-right: 110px;
}


.strava_wall_image_exit  {
    /* position: fixed; */
    /* height: auto; */
    font-size: 1.7vw;
    font-weight: bold;
    color:red;
    transform: perspective(1000px) rotateY(-35deg);  
    /* transition: transform 1s ease 0s; */
}

a.profile_a_tag { 
    text-decoration:none; 
    color: black;
}

a.profile_a_tag:hover { 
    color: #007FB6;
}



@media screen and (max-width: 600px) { 
    .bodycontent_mystrava {
        display: none;
        visibility: hidden;
    }
    .bodycontent_mystrava-responsive-parent {
        display: block;
        visibility: visible;
        

    }


    .bodycontent_mystrava-responsive {
        display: block;
        visibility: visible;
        padding-top: 5vh;
    }

    .information-div-profile {
        width: 100vw;
    }

    .information-div-weekly-summary {
        padding-left: 4vw;
        width: 100vw;
    }

    .title-total-activities {
        font-size: 5vw;
        color: black;
    }

    .information-div-child-lots {
        font-size: 5vw;
        height: fit-content;
    }
}


.apierrordiv {
    width: fit-content;
    background-color: #fc5200;
    padding: 5px;
    color: white;
    border-radius: 4px;
    font-size: 10px;
}

.loginwithStrava {
    margin: 10px auto;
    padding: 8px;
    font-size: 0.8vw;
    overflow: hidden;
  
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    
    background-color: #fc5200;
    color: #ecf0f1;
  }

  .loginwithStrava-invisible {
    visibility: hidden;
    display: none;
  }


.apierrordiv-invisible {
    display: none;
    visibility: hidden;
}
