.Education{
    font-family: 'Maison Neue', sans-serif;
    cursor: url('../../../public/assets/badge.svg'), auto;
    overflow: hidden;
    height: 100vh;
}
    

.bodycontent
{
    overflow-y: hidden;
    z-index: -10;
}
.header_2_education
{
    padding-left: 10%;
    padding-top: 3%;
    font-size: 30px;
}


.highlight_block_education {
    /* border: 4px solid #fc5200; */
    /* background-color: rgb(38,107,246); */
    background-color: rgb(255,255,255, 1);
    color: #000;
    padding: 5px;
    transition: all 0.2s ease-in-out;

}


.highlight_block_education:hover{
    border-left: solid 10px rgb(38,107,246);
    color: #000;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all 0.1s ease-in-out;
}

.educationhighlight_container_1{
    border-left: solid 10px rgb(38,107,246);
}
.educationhighlight_container_2{
    border-left: solid 10px rgb(38,107,246);
}
.educationhighlight_container_3{
    border-left: solid 10px rgb(38,107,246);
}
.educationhighlight_container_4{
    border-left: solid 10px rgb(38,107,246);
}


.information_box {
    margin-top: 3%;
    margin-left: 10%;
    font-size: 30px;
    margin-right: 1%;
    /* background-color: #fff; */
    color: #000;
    width: 800px;
    height: 600px;
    /* border: solid white; */
    border-radius: 20px; 
     z-index: 4;
}


.highlight_block_information {
    /* border: 4px solid #fc5200; */
    /* background-color: rgb(255,234,0,1); */
    background-color:  #2ad309;
    color: #000;
    padding: 5px;
    
    transition: all 0.3s ease-in-out;
}


.highlight_block_information{

    transition: all 0.3s ease-in-out;
}

.information_box_invisible {
    visibility: hidden;
}

.ssu {
    overflow: hidden; 
    /* background-color: #333; */
    position: fixed; 
    /* Set the navbar to fixed position */
    top: 5%;
    right:0%;
    /* top: 0; 
    Position the navbar at the top of the page */
    width: 40%; 

    /* z-index: -4; */

}

